<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="">
      </div>
      Berap
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>
	
	<li>
  <a routerLink="beers">
    <i class="ti-arrow-top-right"></i>
    <p>Beers</p>
  </a>
  
    <a routerLink="bars">
    <i class="ti-arrow-top-right"></i>
    <p>Bars</p>
  </a>
  
    <a routerLink="beerTypes">
    <i class="ti-arrow-top-right"></i>
    <p>Beer type</p>
	</a>
	
    <a routerLink="pairings">
    <i class="ti-arrow-top-right"></i>
    <p>Pairing</p>
	</a>
	
    <a routerLink="payTypes">
    <i class="ti-arrow-top-right"></i>
    <p>Pay type</p>
	</a>
	
    <a routerLink="promotions">
    <i class="ti-arrow-top-right"></i>
    <p>Promotions</p>
	</a>
  
</li>

  </ul>
</div>
